/* BORDER SWITCH FOR DESIGN */

/* * {
  border: 1px solid red;
} */

/* GENERAL STYLES */

body {
  font-family: "Red Hat Mono", monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  font-family: "Gruppo", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Gruppo", cursive;
  font-size: 20px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0;
  margin: 0;
  transition: all 0.07s ease;
}

button:hover {
  transform: scale(1.05);
}

/* CALCULATOR STYLES */

.calculator {
  border: 1px solid black;
  box-shadow: 0 0 10px 1px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  margin: 5px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 2px;
}

.operator-display {
  text-align: left;
}

.number.display {
  text-align: right;
}

.button-row {
  display: flex;
}

.number,
.decimal,
.operator {
  padding: 0;
  margin: 5px;
  width: 75px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 2px;
}
